/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}


/* Declare heights because of positioning of img element */
.carousel .item {
  height:160px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  /*height: 700px;*/
}

/*.btn-overlay, .btn-overlay:hover {
	margin-top:20px;
	color:#fff;
	font-size:20px;
	background:none;
	border:2px solid #fff !important;
}*/

@media (min-width: 480px) {.carousel .item {height: 200px;}}
@media (min-width: 600px) {.carousel .item {height: 260px;}}
@media (min-width: 750px) {.carousel .item {height: 280px;}}
@media (min-width: 800px) {.carousel .item {height: 320px;}}
@media (min-width: 980px) {.carousel .item {height: 400px;}}
@media (min-width: 1280px) {.carousel .item {height: 500px;}}
@media (min-width: 1420px) {.carousel .item {height: 600px;}}
@media (min-width: 1560px) {.carousel .item {height: 620px;}}
@media (min-width: 1700px) {.carousel .item {height: 700px;}}
@media (min-width: 2000px) {.carousel .item {height: 900px;}}


.carousel .item .carousel-caption {
  background: none;
  width:380px;
  right:50px;
  left:auto;
  top:140px;
}

.carousel .item .carousel-caption p {
  font-family: 'Nella Sue Reg';
  font-weight: bold;
  font-size: 30px;
  text-shadow: 1px 2px 10px #000;
  text-align: left;
}


@media (max-width: 602px) {
   .carousel .item .carousel-caption {display: none}
}



/* RESPONSIVE CSS
-------------------------------------------------- */
