/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  /*padding-bottom: 40px;*/
  color: #5a5a5a;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
 /* height: 700px;*/
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.carousel-caption-main {
  width:800px;
 /* height:200px;*/
  position:absolute;
  top:11%;
  margin:0 auto;
  text-align:center;
  background-color:green;
}

.carousel-logo{margin-bottom:25px;}


/* Declare heights because of positioning of img element */
.carousel .item {
  height: 120px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  /*height: 700px;*/
}

.btn-overlay, .btn-overlay:hover {
	margin-top:20px;
	color:#fff;
	font-size:20px;
	background:none;
	border:2px solid #fff !important;
}

/*** START Responsive Carousel ***/
@media (min-width: 480px) {.carousel .item {height: 185px;}}
@media (min-width: 600px) {.carousel .item {height: 240px;}}
@media (min-width: 750px) {.carousel .item {height: 280px;}}
@media (min-width: 800px) {.carousel .item {height: 320px;}}
@media (min-width: 980px) {.carousel .item {height: 400px;}}
@media (min-width: 1280px) {.carousel .item {height: 500px;}}
@media (min-width: 1420px) {.carousel .item {height: 600px;}}
@media (min-width: 1560px) {.carousel .item {height: 620px;}}
@media (min-width: 1700px) {.carousel .item {height: 700px;}}
@media (min-width: 2000px) {.carousel .item {height: 900px;}}


@media (max-width: 1560px) {
	.carousel-logo{width:650px;}
}

@media (max-width: 1420px) {
	.carousel-caption-main {top:4%;width:600px;}
	.carousel-caption h1{font-size:28px;}
	.carousel-caption h2{font-size:24px;}
	.carousel-logo{width:500px;margin-bottom:18px;}
	.btn-overlay, .btn-overlay:hover {font-size:18px;}
	
}

@media (max-width: 1280px) {
	.carousel-caption-main {top:2%;width:550px;}
	.carousel-logo{width:400px;margin-bottom:18px;}
	
}

@media (max-width: 960px) {
	.carousel-caption-main {top:0;}
	.carousel-caption h1{font-size:22px;}
	.carousel-caption h2{font-size:18px;}
	.carousel-logo{width:400px;margin-bottom:5px;}
	.btn-overlay, .btn-overlay:hover {margin-top:8px;}
}

@media (max-width: 800px) {
	.carousel-caption-main {top:20%;}
	.carousel-caption h1{display:none;}
	.carousel-caption h2{display:none;}
	.carousel-logo{width:520px;margin-bottom:5px;}
	.btn-overlay, .btn-overlay:hover {display:none;}
}


@media (max-width: 600px) {
	
}
@media (max-width: 550px) {
	
}
/*** END Responsive Carousel ***/



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: left;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
