:root {
  --main-pink: #DC7F9B;
}

html{height:100%}
body {
	height:100%;
	background-color:#ffffff;
	color:#3d3d3d;
	font-family: 'Helvetica Neue Lt Com Th', Helvetica, Sans-Serif;
}
 p {font-size: 16px;}

a {
	color:#777;
}
a:hover {
	color:#777;
   text-decoration: none;
}
h1 {
	font-family: 'Nella Sue Reg';
	color:var(--main-pink);
	font-size:36px;
}

.jumbotron {
	background:#e5e5e5;
	margin-top:140px
}

.navbar-trans {
   background: rgba(255,255,255, 0.7);
   border:none;
   margin-bottom: 0px;
}
.navbar-trans ul {margin:31px 0 0 450px;}
.navbar-trans li a {
	font-family: 'Helvetica Neue Lt Com Lt Con';
	line-height:50px;
	font-size:20px;
	padding: 12px 22px 12px 22px;
}

.navbar-brand {min-height: 62px;}
img.logo {
	position:absolute;
	top:0;
	z-index:99;
	left:20vw;
   max-width:300px;
}

.top-nav-spacer {height:160px;}

.copyright {
	font-family: 'Helvetica Neue Lt Com U Lt';
	font-size:16px;
}


.round-menu {
	padding-top:0;
	margin-top:0px;
	font-family: 'Helvetica Neue Lt Com Lt Con';
	font-size: 26px;
}

.round-menu .height-holder {height:150px;}

.round-menu img {
	width:100%;
	border-radius:50%;
	border:3px solid #fff;
}

.round-menu-item {
	height:230px;
	width:230px;
	position: absolute;
	z-index:999;
	/*background:yellow;*/
	/*border:dashed #000 1px;*/
	top:-80px;
}
.round-menu-item.item1 {right:-46px}
.round-menu-item.item3 {left:-46px}
.round-menu-item.item2 {left:calc(50% - 115px)}

.round-menu-item .minibanner {position: absolute; top:94px;}
.round-menu-item.item1 .minibanner {right:53px;}
.round-menu-item.item3 .minibanner {left:53px;}
.round-menu-item.item2 .minibanner {left:53px;}


/* START Ribbon banners ends construction */
:root {
  --minibanner-cnr-edge-short: 10px;
  --minibanner-cnr-edge-long: 20px;
}

.ribbon-cnr {width: 0;height: 0; }
.cnr-tl {
  border-top: var(--minibanner-cnr-edge-long) solid #fff;
  border-left: var(--minibanner-cnr-edge-short) solid transparent;
  border-right: 0px solid transparent;
}
.cnr-tr {
  border-top: var(--minibanner-cnr-edge-long) solid #fff;
  border-left: 0px solid transparent;
  border-right: var(--minibanner-cnr-edge-short) solid transparent;
}
.cnr-bl {
  border-bottom: var(--minibanner-cnr-edge-long) solid #fff;
  border-left: var(--minibanner-cnr-edge-short) solid transparent;
  border-right: 0px solid transparent;
}
.cnr-br {
  border-bottom: var(--minibanner-cnr-edge-long) solid #fff;
  border-left: 0px solid transparent;
  border-right: var(--minibanner-cnr-edge-short) solid transparent;
}

.minibanner-end {float:left;}
.minibanner-center {
	background:#fff;
	width:105px;
	float:left;
	text-align:center;
	color:var(--main-pink);
	height:40px;
	font-size:20px;
	line-height:46px;
}
/* END Ribbon banners ends construction */

.social {margin-top:100px;}
.social hr.socialline {border-top: 2px solid #c4c4c4;margin:0;}
.social-box {
	/*background:green;*/
	background:#fff;
	width:432px;
	height:60px;
	margin: 0 auto;
	margin-top:-30px;
}
.social-box .sayhello {
	margin:0 12px 0 30px;
	width: 150px;
	font-family: 'Nella Sue Reg';
	font-size:38px;
	/*background: blue;*/
	float: left;
}
.social-box .social-icon-wrapper {
	/*background: yellow;*/
	width: 220px;
	float: left;
	padding-top: 16px;
}
.social-box .social-icon {height:30px;width:30px;margin:0 10px;}

.footer {text-align:center;height:100px;line-height:50px;margin-top:40px;}

.gallery-index .item { margin-bottom: 40px;}
.gallery-index .item img {
   width: 100%;
   margin-bottom: 16px;
}
.gallery-index .item .title{
   font-size: 16px;
}
.galllery-index .item a {color:#777;}

/* Gallery Grid Mod */
@media (min-width: 1200px){
   .container.gallery {width: 1080px;}
}

.gallery .col {
   padding:0px 4px 0px 4px;
}
.gallery img {margin:3px}
.gallery img {width: 100%}

.jumbotron.contact-jumbotron {padding:70px 0 120px 0;}
.jumbotron.contact-jumbotron h1 {
	font-family: 'Nella Sue Reg';
	color:var(--main-pink);
	font-size:36px;
	margin-top: 0;
}
.form-control{
	border-radius:0;
	border:none;
	box-shadow:none;
	transition:none;
	font-size: 15px;
}
.form-group {width:400px;float:right;}
.contact-text{width:400px;}
.contact-text p{font-size: 16px}
.contact-container .btn-primary {
	background-color: var(--main-pink);
	float:left;
	font-size:18px;
	height:52px;
	width:362px;}
.contact-container .btn-primary:active {background-color: var(--main-pink);box-shadow:none;}
.contact-container .minibanner {position:static;}
.contact-container .cnr-tl {
  border-top: 26px solid var(--main-pink);
  border-left: 18px solid transparent;
  border-right: 0px solid transparent;
}
.contact-container .cnr-bl {
  border-bottom: 26px solid var(--main-pink);
  border-left: 18px solid transparent;
  border-right: 0px solid transparent;
}
.contact-container .cnr-tr {
  border-top: 26px solid var(--main-pink);
  border-left: 0px solid transparent;
  border-right: 18px solid transparent;
}

.contact-container .cnr-br {
  border-bottom: 26px solid var(--main-pink);
  border-left: 0px solid transparent;
  border-right: 18px solid transparent;
}

.contact-triple {
	background-color: none;
	margin-top:-100px;
	padding:0
}

.contact-triple .row .height-holder {
	/*border: 1px solid #000;*/
	height: 280px;
}

.contact-item {
	background:none;
	width:200px;
	text-align:center;
	padding:0;
	position:absolute;
	font-family: 'Helvetica Neue Lt Com Lt Con';
}
.contact-item a:hover {text-decoration: none}
.contact-item h3 {
	color: var(--main-pink);
	margin-bottom: 5px;
}
.contact-item p {
	font-size: 15px;
	color: #777;
}

.contact-item .social-icon {
	width:130px;
	height:130px;
}

.contact-item.item1{right:-72px;}
.contact-item.item3{left:-72px;}
.contact-item.item2{left:calc(50% - 100px);}

.btn {
  border-radius:0;
  border:0;
}

.about{margin-top:50px;}
.about .block p {font-size: 15px}
.about .block1{
	padding-right:40px;
	padding-left:40px;
	border-right: solid #c4c4c4;
	border-right-width:2px;
}

.about .block2{
	padding-left:40px;
}

.about .block3{
	padding-right:20px;
	padding-left:20px;
}

.about .profile-img {
	border-radius: 50%;
	height:150px;
	width:150px;
	position: absolute;
	top:-110px;
	right:0;
	border: 3px solid #fff;
	z-index:999;
}


.video-container .hero-video-wrapper {height: 550px;}

.video-container .height-holder { height: 300px;}

.video-container .video-wrapper {
	width: 400px;
	height: 250px;
}


/*  MAIN BREAKPOINT CHANGES */
@media (max-width: 1600px) {
	img.logo {left:16vw}
}

@media (max-width: 1200px) {

	.navbar-fixed-top {position: static;} /* make it not fixed */
	img.logo {left:8vw}
	.navbar-trans ul {margin-left: 350px;}
   .top-nav-spacer {height:0;}

	.jumbotron {margin-top:40px}

	.round-menu-item.item1 {right:-12px}
	.round-menu-item.item3 {left:-12px}
	.round-menu-item {top:-50px;}
	.round-menu .height-holder {height:200px;}
	.contact-item.item1{right:-45px;}
	.contact-item.item3{left:-45px;}
}

@media (max-width: 991px) {
	img.logo {left:2vw}

	.navbar-trans ul {margin-left: 280px;}
	.navbar-trans li a {padding: 12px;}

	.round-menu-item.item1 {right:10px}
	.round-menu-item.item3 {left:10px}
	.round-menu-item {top:40px;}
	.round-menu .height-holder {height:280px;}

	.about .block1{border: none}
	.about .block3{
		padding-left:40px;
		height:300px;
	}
	.about .profile-img {
		top:auto;bottom:0;
		right: calc(50% - 75px);
	}

	.video-container .hero-video-wrapper {height: 450px;}

	.form-group {width: 100%;}
	.contact-container .btn-primary {width:calc(100% - 36px);}
	.contact-text{ width: 100%}

	.contact-item.item1{right:0;}
	.contact-item.item3{left:0;}
}

@media (max-width: 800px) {
   .navbar-trans li a {padding: 3px;}
	.round-menu-item.item1, .round-menu-item.item3 {
		left:calc(50% - 115px)
	}
	.video-container .hero-video-wrapper {height: calc(60vw);}
}

@media (max-width: 765px){
	img.logo {height:70px;}
	.navbar-trans ul {margin:10px 0 0;text-align: center;}

	.contact-triple .row .height-holder {height: 260px;}
	.contact-item {top:20px}
	.contact-triple {margin-top:0}
	.contact-item.item1, .contact-item.item3 {
		left: calc(50% - 100px);
	}
	.contact-container .height-holder{height: 480px;}

}

@media (max-width: 530px) {
	.social-box {width: 100%}
	.social-box .sayhello {
		clear:both;
		margin-left: calc(50vw - 95px) ;
	}
	.social-box .social-icon-wrapper {
		clear:both;
		margin-left: calc(50vw - 130px);
	}
	.about .block{
		padding:0 30px;
		padding:auto;
	}
	.about .block3{
		height:320px;
	}

   /* Add another column size */
   .col-xxs-12 { width: 100% }
}



/* Hamburger overrides */
.navbar-default .navbar-toggle {
    border:none;
}
