body {
	background-color:#ffffff;
	color:#3d3d3d;
	font-family: 'Helvetica Neue Lt Com Th', Helvetica, Sans-Serif;
}
 p {font-size: 16px;}

a {
	color:#1c68ba;
}
a:hover {
	color:#0b4294;
}
h1 {
	font-family: 'Nella Sue Reg';
	color:#ff3399;
	font-size:36px;
}

.jumbotron p{font-size:14px;}
.jumbotron {
	background:#e5e5e5;
	margin-top:140px
}

.navbar-trans {background: rgba(255,255,255, 0.7);border:none;}
.navbar-trans ul {margin:35px 0 0 450px;}
.navbar-trans li a {
	font-family: 'Helvetica Neue Lt Com Lt Con';
	line-height:50px;
	font-size:20px;
	padding: 15px 22px;
}


img.logo {
	position:absolute;
	top:0;
	z-index:99;
	left:20vw;
}

.copyright {
	font-family: 'Helvetica Neue Lt Com U Lt';
	font-size:16px;
}


.round-menu {
	padding-top:0;
	margin-top:0px;
	font-family: 'Helvetica Neue Lt Com Lt Con';
	font-size: 26px;
}

.round-menu .height-holder {height:150px;}


.round-menu img {
	width:100%;
	border-radius:50%;
	border:2px solid #fff;
}
.round-menu-item {
	height:230px;
	width:230px;
	/*margin-top:-80px;*/
}
.round-menu-item {
	position: absolute;
	/*background:yellow;*/
	/*border:dashed #000 1px;*/
	top:-80px;
}
.round-menu-item.item1 {right:-46px}
.round-menu-item.item3 {left:-46px}
.round-menu-item.item2 {left:calc(50% - 115px)}

.round-menu-item .minibanner {position: absolute; top:88px;}
.round-menu-item.item1 .minibanner {right:40px;}
.round-menu-item.item3 .minibanner {left:40px;}
.round-menu-item.item2 .minibanner {left:calc(50% - 74px);}


/* START Ribbon banners ends construction */
.ribbon-cnr {width: 0;height: 0; }
.cnr-tl {
  border-top: 25px solid #fff;
  border-left: 14px solid transparent;
  border-right: 0px solid transparent;
}
.cnr-tr {
  border-top: 25px solid #fff;
  border-left: 0px solid transparent;
  border-right: 14px solid transparent;
}
.cnr-bl {
  border-bottom: 25px solid #fff;
  border-left: 14px solid transparent;
  border-right: 0px solid transparent;
}
.cnr-br {
  border-bottom: 25px solid #fff;
  border-left: 0px solid transparent;
  border-right: 14px solid transparent;
}

.minibanner-end {float:left;}
.minibanner-center {
	background:#fff;
	width:120px;
	float:left;
	text-align:center;
	color:#ff3399;
	height:50px;
	font-size:20px;
	line-height:56px;
}
/* END Ribbon banners ends construction */

.social {margin-top:100px;}
.social hr.socialline {border-top: 2px solid #c4c4c4;margin:0;}
.social-box {
	background:#fff;
	width:500px;
	height:60px;
	margin: 0 auto;
	margin-top:-30px;
}
.social-box .sayhello {
	margin:0 30px 0 30px;
	width: 150px;
	font-family: 'Nella Sue Reg';
	font-size:38px;
	/*background: blue;*/
	float: left;
}
.social-box .social-icon-wrapper {
	/*background: yellow;*/
	width: 266px;
	float: left;
	padding-top: 16px;
}
.social-box .social-icon {height:30px;width:30px;margin:0 10px;}

.footer {text-align:center;height:100px;line-height:50px;margin-top:40px;}

.gallery {margin-top:140px;}
.gallery img {margin:3px}
.gallery img.tall {width:371px;}
.gallery img.short {width:514px;}
.gallery img.small-square {width:562px;}
.gallery img.full {width:1130px;}
.gallery img.square {width:610px;}

.jumbotron.contact-jumbotron {padding:70px 0 120px 0;}
.jumbotron.contact-jumbotron h1 {
	font-family: 'Nella Sue Reg';
	color:#ff3399;
	font-size:36px;
	margin-top: 0;
}
.form-control{border-radius:0;border:none;box-shadow:none;transition:none;}
.form-group {width:400px;float:right;}
.contact-text{width:400px;}
.contact-container .btn-primary {background-color: #f477ee;float:left;font-size:16px;height:52px;width:362px;}
.contact-container .btn-primary:active {background-color: #f477ee;box-shadow:none;}
.contact-container .minibanner {position:static;}
.contact-container .cnr-tl {
  border-top: 26px solid #f477ee;
  border-left: 18px solid transparent;
  border-right: 0px solid transparent;
}
.contact-container .cnr-bl {
  border-bottom: 26px solid #f477ee;
  border-left: 18px solid transparent;
  border-right: 0px solid transparent;
}
.contact-container .cnr-tr {
  border-top: 26px solid #f477ee;
  border-left: 0px solid transparent;
  border-right: 18px solid transparent;
}

.contact-container .cnr-br {
  border-bottom: 26px solid #f477ee;
  border-left: 0px solid transparent;
  border-right: 18px solid transparent;
}

.contact-triple {background-color: none; height:380px;}
.contact-triple {margin-top:-100px;padding:0}

.contact-item {
	background:none;
	width:200px;
	height:400px;
	text-align:center;
	padding:0;
	position:absolute;
	font-family: 'Helvetica Neue Lt Com Lt Con';
}
.contact-item h3 {color: #f477ee;}

.contact-item .social-icon {width:140px;height:140px;}

/*.contact-triple .row .foo {
	border: 1px solid #000;
	height: 400px;
}*/

.contact-item.item1{right:-72px;}
.contact-item.item3{left:-72px;}
.contact-item.item2{left:calc(50% - 100px);}

.btn {
  border-radius:0;
  border:0;
}


.about{margin-top:50px;}

.about .block1{
	padding-right:40px;
	padding-left:40px;
	border-right: solid #c4c4c4;
	border-right-width:2px;
}

.about .block2{
	padding-left:40px;
}

.about .block3{
	padding-right:20px;
	padding-left:20px;
}

.about .profile-img {
	border-radius: 50%;
	height:150px;
	width:150px;
	position: absolute;
	top:-110px;
	right:0;
	border: 1px solid #fff;
}


.video-container .hero-video-wrapper {height: 550px;}

.video-container .height-holder { height: 300px;}

.video-container .video-wrapper {
	width: 400px;
	height: 250px;
}

@media (max-width: 1600px) {
	img.logo {left:16vw}
}

@media (max-width: 1200px) {

	.navbar-fixed-top {position: static;} /* make it not fixed */
	img.logo {left:8vw}
	.navbar-trans ul {margin-left: 350px;}
	.jumbotron {margin-top:40px}


	.round-menu-item.item1 {right:-12px}
	.round-menu-item.item3 {left:-12px}
	.round-menu-item {top:-50px;}
	.round-menu .height-holder {height:200px;}
	/*.round-menu {background: yellow;}*/
	.contact-item.item1{right:-45px;}
	.contact-item.item3{left:-45px;}
}

@media (max-width: 991px) {
	img.logo {left:2vw}

	.navbar-trans ul {margin-left: 280px;}
	.navbar-trans li a {padding: 0 12px}

	.round-menu-item.item1 {right:10px}
	.round-menu-item.item3 {left:10px}
	.round-menu-item {top:40px;}
	.round-menu .height-holder {height:280px;}
	/*.round-menu {background: green;}*/

	.about .block1{border: none}
	.about .block3{padding-left:40px;height:300px;}
	.about .profile-img {
		top:auto;bottom:0;
		right: calc(50% - 75px);
	}

	.video-container .hero-video-wrapper {height: 450px;}

	.form-group {width: 100%;}
	.contact-container .btn-primary {width:calc(100% - 36px);}
	.contact-text{ width: 100%}

	.contact-item.item1{right:0;}
	.contact-item.item3{left:0;}


}

@media (max-width: 800px) {
	.round-menu-item.item1, .round-menu-item.item3 {
		left:calc(50% - 115px)
	}
	.video-container .hero-video-wrapper {height: calc(60vw);}

}

@media (max-width: 765px){
	.navbar-trans ul {margin:0;text-align: center;}
}

@media (max-width: 530px) {
	.social-box {width: 400%}
	.social-box .sayhello {
		clear:both;
		margin-left: calc(50vw - 95px) ;
		/*margin-left: calc(50%) ;*/
	}
	.social-box .social-icon-wrapper {
		clear:both;
		margin-left: calc(50vw - 155px);
	}
}

/* Hamburger overrides */
.navbar-default .navbar-toggle {
    border:none;
}
