body {
	background-color:#ffffff;
	color:#3d3d3d;
	font-family: 'Helvetica Neue Lt Com Th', Helvetica, Sans-Serif;
}
 p {font-size: 16px;}

a {
	color:#1c68ba;
}
a:hover {
	color:#0b4294;
}
h1 {
	font-family: 'Nella Sue Reg';
	color:#ff3399;
	font-size:36px;
}


.jumbotron p{font-size:14px;}

.navbar-trans {background: rgba(255,255,255, 0.7);border:none;}
.navbar-trans ul {margin:35px 0 0 250px;}
.navbar-trans li a {
	font-family: 'Helvetica Neue Lt Com Lt Con';
	line-height:50px;
	font-size:22px;
	padding: 15px 22px;
}


li.logo-spacer{
	width:200px;
}
img.logo {
	position:absolute;
	top:-1px;
	margin-left:-40px;
	z-index:99;
}


/*** START responsive logo and navs ***/
@media (max-width: 1200px) {
	img.logo {height: 100px;margin-left:-20px;}
	.navbar-top {min-height:100px;}
	.navbar-form {margin-top: 35px;}
	li.logo-spacer{width:0;}
}

@media (max-width: 767px) {
	img.logo {margin-left:-30px;}
	.form-control {width:200px;position:absolute;right:50px;top:35px;}
	.btn-search{position:absolute;right:8px;top:35px;}
}

@media (max-width: 450px) {
	.navbar-form {margin-top: 120px;}
	.form-control {width:200px;left:10px;top:112px;}
	.btn-search{width:40px;left:220px;top:112px;}
}
/*** END responsive logo and navs ***/


.jumbotron {background:none;}

.copyright {
	font-family: 'Helvetica Neue Lt Com U Lt';
	font-size:16px;
}


.round-menu {
	padding-top:0;
	margin-top:0px;
	font-family: 'Helvetica Neue Lt Com Lt Con';
	font-size: 26px;
}

.round-menu .height-holder {height:150px;}

.round-menu .col-md-4{
 /*border:solid #000 1px;*/
 /*background: green;*/
}

.round-menu img {
	width:100%;
	border-radius:50%;
	border:2px solid #fff;
}
.round-menu-item {
	height:230px;
	width:230px;
	/*margin-top:-80px;*/
}
.round-menu-item {
	position: absolute;
	/*background:yellow;*/
	/*border:dashed #000 1px;*/
	top:-80px;
}
.round-menu-item.item1 {right:-46px}
.round-menu-item.item3 {left:-46px}
.round-menu-item.item2 {left:calc(50% - 115px);}

.round-menu-item .minibanner {position: absolute; top:88px;}
.round-menu-item.item1 .minibanner {right:40px;}
.round-menu-item.item3 .minibanner {left:40px;}
.round-menu-item.item2 .minibanner {left:calc(50% - 74px);}


/* START Ribbon banners ends construction */
.ribbon-cnr {width: 0;height: 0; }
.cnr-tl {
  border-top: 25px solid #fff;
  border-left: 14px solid transparent;
  border-right: 0px solid transparent;
}
.cnr-tr {
  border-top: 25px solid #fff;
  border-left: 0px solid transparent;
  border-right: 14px solid transparent;
}
.cnr-bl {
  border-bottom: 25px solid #fff;
  border-left: 14px solid transparent;
  border-right: 0px solid transparent;
}
.cnr-br {
  border-bottom: 25px solid #fff;
  border-left: 0px solid transparent;
  border-right: 14px solid transparent;
}

.minibanner-end {float:left;}
.minibanner-center {
	background:#fff;
	width:120px;
	float:left;
	text-align:center;
	color:#ff3399;
	height:50px;
	font-size:20px;
	line-height:56px;
}
/* END Ribbon banners ends construction */

.social {margin-top:100px;}
.social hr.socialline {border-top: 2px solid #c4c4c4;margin:0;}
.social-box {background:#fff;width:500px;height:60px; margin: 0 auto; margin-top:-30px;}
.social-box .sayhello {margin:0 40px 0 30px; font-family: 'Nella Sue Reg';font-size:38px;}
.social-box .social-icon {height:30px;width:30px;margin:0 10px;}

.footer {text-align:center;height:100px;line-height:50px;margin-top:40px;}

.gallery {margin-top:140px;}
.gallery img {margin:3px}
.gallery img.tall {width:371px;}
.gallery img.short {width:514px;}
.gallery img.small-square {width:562px;}
.gallery img.full {width:1130px;}
.gallery img.square {width:610px;}

.jumbotron.contact-jumbotron {background:#e5e5e5;margin-top:140px;padding:70px 0 120px 0;}
.jumbotron.contact-jumbotron h1 {
	font-family: 'Nella Sue Reg';
	color:#ff3399;
	font-size:36px;
	margin-top: 0;
}
.form-control{border-radius:0;border:none;box-shadow:none;transition:none;}
.form-group {width:400px;float:right;}
.contact-text{width:400px;}
.contact-container .btn-primary {background-color: #f477ee;float:left;font-size:16px;height:52px;width:362px;}
.contact-container .btn-primary:active {background-color: #f477ee;box-shadow:none;}
.contact-container .minibanner {position:static;}
.contact-container .cnr-tl {
  border-top: 26px solid #f477ee;
  border-left: 18px solid transparent;
  border-right: 0px solid transparent;
}
.contact-container .cnr-bl {
  border-bottom: 26px solid #f477ee;
  border-left: 18px solid transparent;
  border-right: 0px solid transparent;
}
.contact-container .cnr-tr {
  border-top: 26px solid #f477ee;
  border-left: 0px solid transparent;
  border-right: 18px solid transparent;
}

.contact-container .cnr-br {
  border-bottom: 26px solid #f477ee;
  border-left: 0px solid transparent;
  border-right: 18px solid transparent;
}

.contact-triple .col-md-6 {background-color: none; height:380px;}
.contact-triple {margin-top:-100px;padding:0}

.contact-item {
	background:none;
	width:200px;
	height:400px;
	text-align:center;
	padding:0;
	position:absolute;
	font-family: 'Helvetica Neue Lt Com Lt Con';
}
.contact-item h3 {color: #f477ee;}

.contact-item .social-icon {width:140px;height:140px;}

.contact-item.item1{left:-30px;}
.contact-item.item2{left:200px;/* background: purple;*/}
.contact-item.item3{right:-30px;}

.btn {
  border-radius:0;
  border:0;
}

/*.contact-item .round-item {background:#cccccc; width:160px;height:160px;border-radius:50%; margin:0 auto; overflow:hidden;}*/

/*.contact-item .square-box {background:none; width:65px;height:65px; margin:47px 0 0 47px; }*/

.about{margin-top:50px;}

.about .block1{
	padding-right:40px;
	padding-left:40px;
	border-right: solid #c4c4c4;
	border-right-width:2px;
}

.about .block2{
	padding-left:40px;
}

.about .block3{
	padding-right:20px;
	padding-left:20px;
}

.about .profile-img {
	border-radius: 50%;
	height:150px;
	width:150px;
	position: absolute;
	top:-110px;
	right:0;
	border: 1px solid #fff;
}


.video-jumbotron {background:#e5e5e5;margin-top:120px;}

.video-container .hero-video-wrapper {
	width: 900px;
	height: 500px;
	margin: 0 auto;
}

.video-container .height-holder { height: 300px;}

.video-container .video-wrapper {
	width: 400px;
	height: 250px;
}

.video-container .video-wrapper.item1{
	position: absolute;
	right:15px;
}
.video-container .video-wrapper.item2{
	position: absolute;
	left:15px;
}





/*** START responsive other bits ***/
@media (max-width: 1200px) {

}

@media (max-width: 480px) {
	.jumbotron {padding:0;}
	.jumbotron h2 {font-size:25px;}
	.travel-experiences p.intro {
		font-size: 16px;
	}

}
/*** END responsive other bits ***/


/*** START nav hover stuff (only do this when full menu shown)***/
@media (min-width: 767px) {
	.sidebar-nav {
	    padding: 9px 0;
	}

	.dropdown-menu .sub-menu {
	    left: 100%;
	    position: absolute;
	    top: 0;
	    visibility: hidden;
	    margin-top: -1px;
	}

	.dropdown-menu li:hover .sub-menu {
	    visibility: visible;
	}

	.dropdown:hover .dropdown-menu {
	    display: block;
	}

	.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
	    margin-top: 0;
	}

	.navbar .sub-menu:before {
	    border-bottom: 7px solid transparent;
	    border-left: none;
	    border-right: 7px solid rgba(0, 0, 0, 0.2);
	    border-top: 7px solid transparent;
	    left: -7px;
	    top: 10px;
	}
	.navbar .sub-menu:after {
	    border-top: 6px solid transparent;
	    border-left: none;
	    border-right: 6px solid #fff;
	    border-bottom: 6px solid transparent;
	    left: 10px;
	    top: 11px;
	    left: -6px;
	}

}
/* Nav submenu mobile fix */
@media (max-width: 767px) {
	.navbar-collapse {
		max-height: 800px;
	}
}

/*** END nav hover stuff ***/



/* START UNIVERAL STANDARD PAGE LAYOUT */
.container-standard { padding: 30px 20px;}
.container-standard hr { border-top: 1px solid #b8b8b8;}
.container-standard .intro{
	font-size: 19px;
}
.container-standard p{
	font-size: 16px;
}
.container-standard h1, .container-standard h2, .container-standard h3{
	font-weight: bold;
}
.container-standard h1{
	font-size:44px;
}
.container-standard h3{
	margin-bottom: 20px;
}
.container-standard .col-lg-8{
	padding-right:40px;
}
.container-standard .col-lg-4{
	padding-left:30px;
}

/* universal page responsive */
@media (max-width: 600px) {
	.container-standard h1 {font-size:36px;}
}
@media (max-width: 320px) {
	.container-standard { padding:10px;}
	.container-standard .col-lg-8{padding-right:15px;}
	.container-standard .col-lg-4{padding-left:10px;}
	.container-standard h1 {font-size:26px;}
	.container-standard .intro{font-size: 18px;}
	.container-standard .p{font-size: 11px;}
}


/* END UNIVERAL STANDARD PAGE LAYOUT */



/* START Client Comments Block */
.client-comments {
	margin:20px 0;
}
.client-comments blockquote{
	margin-bottom:30px;
}
/* END CLIENT COMMENTS BLOCK */
