@font-face {
    font-family: 'Nella Sue Reg';
    src: url('nella_sue/nellasue-webfont.woff2') format('woff2'),
         url('nella_sue/nellasue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue Lt Com Lt Con';
    src: url('neue_helvetica/HelveticaNeueLTCom-LtCn.ttf'),
         url('neue_helvetica/HelveticaNeueLTCom-LtCn.woff');
}
@font-face {
    font-family: 'Helvetica Neue Lt Com U Lt';
    src: url('neue_helvetica/HelveticaNeueLTCom-Th.ttf'),
         url('neue_helvetica/HelveticaNeueLTCom-Th.woff');
}
@font-face {
    font-family: 'Helvetica Roman';
    src: url('helvetica/HelveticaLTStd-Roman.woff'),
         url('helvetica/HelveticaLTStd-Roman.otf');
}
